<div class="search-news-form-preview">
  <form
    (ngSubmit)="searchNews()"
    #searchForm="ngForm"
    class="form-inline my-2 my-lg-0"
  >
    <input
      class="form-control col-md-5 mr-sm-2"
      type="text"
      name="searchQuery"
      [(ngModel)]="searchQuery"
      placeholder="Search"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">
      <i class="fas fa-search"></i> Search
    </button>
  </form>
</div>

<table class="table table-hover">
  <tr *ngFor="let item of listOfNews">
    <td (click)="populateForm(item)">{{ item.Name }}</td>
    <td (click)="populateForm(item)">{{ item.Category }}</td>
    <td (click)="populateForm(item)">{{ item.Description }}</td>
    <td>
      <i
        class="far fa-trash-alt fa-lg text-danger"
        (click)="onDelete(item.Id)"
      ></i>
    </td>
  </tr>
</table>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
